html,
body {
    height: 100%;
}
body {
    background-image: url('..//images/MTVMoonMan.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.wrapper {
    color: #ffffff;
    text-align: center;
}